/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font: 16px/28px arial, sans-serif;
	background-image: url(/dark.png);
}

.container {
	width: 800px;
	background-color: #eaeaea;
	margin: auto;
	margin-top: 10px;
}

.header {
	padding: 20px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 5px;
	margin-right: 5px;
}

.header a {
	text-decoration: none;
	color: salmon;
}

.header a:hover {
	background-color: red;
	color: black;
}

.hero {
	height: 400px;
	background-image: url(/laptop.jpg);
	background-size: cover;
	background-position: 0 -70px;
	border-top: 5px solid red;
	border-bottom: 5px solid lightskyblue;
}

.content h2 {
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 20px;
}

.content .penulis {
	font-size: 11px;
	margin-top: -5px;
	margin-left: 20px;
}

.content .penulis a {
	text-decoration: none;
	color: blue;
}

.content .penulis a:hover {
	background-color: aquamarine;
	color : black;
}

.content p {
	margin-bottom: 20px;
	margin-left: 20px;
	font-size: 14px;
}

.footer {
	background-color: #000;
	
}

.footer .copy {
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 7px;
}
